#Question:1 Discuss string slicing and provide examples.

Ans: String slicing means getting the substring of a string. Each element in the string can be accssed by the index. Substring can be extracted using slicing. Slicing can be joined together and altered using a variety of techniques.

In [ ]:
#Example
string1 = "I am a student"
string1[0:4] #It will give the values from 0th index to 3rd index, 4th index is exclusive

'I am'

If you not provide ending index then it will automatically consider it until last index and print the substring of all charcters from 0

In [ ]:
string2 = "I am a good boy"
string2[0:]

'I am a good boy'

If you not provide starting index then it will automatically consider it from first index and print the substring of all charcters from 0

In [ ]:
string3 = "pwskills"
string3[:5] #Automatically consider it as from starting index

'pwski'

In [ ]:
#print string except last 3 characters
str1 = "pwskills"
str1[: -3]

'pwski'

In [ ]:
#Only last three characters
str2 = "pwskills"
str2[-3:]

'lls'

In [ ]:
#reverse string
str2 = "Hello"
str2[::-1]

'olleH'


#Question:2 Explain the key features of lists in Python.

Ans: List is a ordered collection of elements. It is like a shopping bag which can store anything. List is a mutable data structure and it can store any data type.

The Key Features of Lists in Python are :

1. Lists are mutable means we can add, delete or modify data from it.
2. Lists can store any data type like numbers, characters, strings, boolean values, complex numbers.
3. Lists are the ordered collection of elements means the elements are stored in a specific order.
4. Lists has multiple functions and each function performs its individual task.
5. Lists are versatile for storing and managing collections that might change.

In [ ]:
#Example
grocery_list = ["Milk", "Orange", 1, 2.2, True, 3+5j]
grocery_list

['Milk', 'Orange', 1, 2.2, True, (3+5j)]

In [ ]:
grocery_list[0]

'Milk'

In [ ]:
grocery_list[0] = "Doodh" #Lists are mutable so we can change the value
grocery_list

['Doodh', 'Orange', 1, 2.2, True, (3+5j)]

In [ ]:
grocery_list[0:5]

['Doodh', 'Orange', 1, 2.2, True]

#Question: 3 Describe how to access, modify, and delete elements in a list with examples.

Ans: For accessing, modify and delete elements in a list, we need to perform some inbuilt operations and functions.

1. Accessing Elements in a list - For accessing elements in a list we need to write operation which is list_name[index]

In [ ]:
list1 = [1, 2, 3, 4, "Shayan", "pwskills"]
list1[0]

1

In [ ]:
list1[1]

2

In [ ]:
list1[2]

3

In [ ]:
list1[4]

'Shayan'

In [ ]:
list1[5]

'pwskills'

In [ ]:
#We can also use loop to iterate over a string
for i in list1:
  print(i)

1
2
3
4
Shayan
pwskills

2. Modify Element in a list - For this we need to perform
list_name[index] = "value"

In [ ]:
fruits = ["apple", "mango"]
fruits.append("orange")
fruits

['apple', 'mango', 'orange']

In [ ]:
fruits.insert(1, "potato")
fruits

['apple', 'potato', 'mango', 'orange']

In [ ]:
fruits.insert(2, "maggie")
fruits

['apple', 'potato', 'maggie', 'mango', 'orange']

In [ ]:
fruits[0] = "Banana"
fruits

['Banana', 'potato', 'maggie', 'mango', 'orange']

3. Delete element in a list - We can delete elements in a list by mutiple ways.

In [ ]:
#Deleting specific element
list5 = ["Shayan", "pwskills", "Data Science", "Machine Learning"]
list5.remove("Shayan")
list5

['pwskills', 'Data Science', 'Machine Learning']

In [ ]:
#Deleting last element
list5 = ["Shayan", "pwskills", "Data Science", "Machine Learning"]
list5.pop()

'Machine Learning'

In [ ]:
#Remove all the elements
list6 = ["Shayan", 1, 2, 3, 54, 6]
list6.clear()
list6

[]

#Question: 4 Compare and contrast tuples and lists with examples

List:-


1.   List is a ordered collection of elements.
2.   It is like a shopping bag which can store anything.
3.   Lists are mutable in python.
4.   Lists can store any data type.
5. We can perform operations in lists like adding element, deleting element, modifying element, etc.

In [ ]:
grocery_list = ["Milk", "Orange", 1, 2.2, True, 3+5j]
grocery_list

['Milk', 'Orange', 1, 2.2, True, (3+5j)]

Tuples:-
1. Tuple is a ordered collection of elements.
2. Tuple can store heterogeneous data.
3. Tuples are immutable in python.
4. Tuples can store any type of data
5. We cannot add, delete, or modify data in tuples.

In [ ]:
t = ("pwskills", "Ajay", 2, 2.3, True, 3+5j)
t

('pwskills', 'Ajay', 2, 2.3, True, (3+5j))

In [ ]:
type(t)

tuple

#Question: 5 Describe the key features of sets and provide examples of their use.

Ans: Sets: Sets are the unordered collection of unique elements.

Key features of sets:
1. Sets doesn't allow duplicate elements.
2. Sets are the unordered collection of elements means the elements are not stored in a specific order.
3. Sets can store unique elements means.
4. Sets are mutable means we can add, delete values in a set.
5. We can perform multiple operations on sets like union, intersection, differnce, symmeteric difference.

In [ ]:
s = {1, 2, 1, 2, 2, "Ajay", "Ajay", "Ajay", "ajay", "ajay"}
s

{1, 2, 'Ajay', 'ajay'}

In [ ]:
#use case
list1 = [1, 2, 3, "Brinjal", "Brinjal", "Apple", "Apple"]
s = set(list1)
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [ ]:
for i in s:
    print(i)

1
2
3
Brinjal
Apple

In [ ]:
#set is mutable
s.add(100)
s

{1, 100, 2, 3, 'Apple', 'Brinjal'}

In [ ]:
s.remove(3) #removes a specific element
s

{1, 100, 2, 'Apple', 'Brinjal'}

In [ ]:
s.pop() #it is not compulsory that it will remove the last element

1

In [ ]:
s.update(["Ajay"])
s

{100, 2, 'Ajay', 'Apple', 'Brinjal'}

In [ ]:
s.clear()
s

set()

#Question: 6 Discuss the use cases of tuples and sets in Python programming.

Ans: Tuples and sets in Python have specific use cases based on their unique properties, such as immutability (for tuples) and uniqueness/unordered nature (for sets).

Usecases of Tuples:-

1. Fixed Collections of Data: Tuples are immutable, making them ideal for storing fixed data, like coordinates or RGB color values.

In [1]:
t = (1, 2, 4.5, "Shayan")
type(t)

tuple

2. Dictionary Keys: Tuples can be used as keys in dictionaries because they are hashable (immutable).

In [3]:
locations = {("New York", "USA"): 8.4, ("Tokyo", "Japan"): 37.4}
locations

{('New York', 'USA'): 8.4, ('Tokyo', 'Japan'): 37.4}

3. Efficient Iteration: Tuples use less memory and are faster to iterate over compared to lists, making them efficient for large collections of read-only data.

4. Data Integrity in Collections: If a data collection should remain constant and not accidentally modified, tuples can help ensure integrity.

#Question: 7 Describe how to add, modify, and delete items in a dictionary with examples.

Use Cases of Sets:

1. Unique Items Only: Sets automatically remove duplicates, making them ideal for collections where each item must be unique.

In [5]:
names = ["Alice", "Bob", "Alice", "Eve"]
unique_names = set(names)
unique_names

{'Alice', 'Bob', 'Eve'}

2. Sets support union, intersection, difference, and symmetric difference, which are useful in many domains like data analysis.

In [7]:
students_A = {"Alice", "Bob", "Charlie"}
students_B = {"Bob", "Diana", "Eve"}
both_classes = students_A & students_B
both_classes

{'Bob'}

3. Removing Duplicates from a List: Sets can be used to remove duplicates from a list by converting the list to a set and back to a list.

In [8]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
unique_numbers

[1, 2, 3, 4, 5]

#Question: 8 Describe how to add, modify, and delete items in a dictionary with examples.

Ans:
1. Dictionary is a data structure which stores data as key value pairs.
2. Keys are unique and immutable
3. Dictionaries are unordered but from python 3.7 version, dictionaries retain the order of insertion
4. it means if you iterate over a dictionary then elament will be returned in the order they were added

In [9]:
d = {"name" : "Shayan", "email" : "shayaanansari80@gmail.com", "Mob. no" : 1234}
d

{'name': 'Shayan', 'email': 'shayaanansari80@gmail.com', 'Mob. no': 1234}

To add items in a dictionary we need to use assignment operator.

In [10]:
#Example
d = {"name" : "Shayan", "email" : "shayaanansari80@gmail.com", "Mob. no" : 1234}
d["CGPA"] = 8.5
d

{'name': 'Shayan',
 'email': 'shayaanansari80@gmail.com',
 'Mob. no': 1234,
 'CGPA': 8.5}

To modify element in a dictionary we need to perform this operation.

In [11]:
d = {"name" : "Shayan", "email" : "shayaanansari80@gmail.com", "Mob. no" : 1234}
d["name"] = "Shandaar"
d

{'name': 'Shandaar', 'email': 'shayaanansari80@gmail.com', 'Mob. no': 1234}

To delete items in a dictionary we need to use del keyword.

In [12]:
d = {'name': ['Sanjay', "Ajay", 1, 2], 'email': 'aj@gmail.com', 'contact': (1234, 678)}
del d["contact"] #This will delete the contac and its value
d

{'name': ['Sanjay', 'Ajay', 1, 2], 'email': 'aj@gmail.com'}

In [13]:
del d #This will delete the entire dictionary with variable name too.
d

NameError: name 'd' is not defined